{% load static %}
<style>
  #hello-msg{
    color:beige;
    margin-right: 2em;
  }
 
  
  #item{
    color:beige;
  }
  #item:hover{
    color:lightgray;
  }

  
  a{color:rgb(135,206,250);}

  a:hover{color:rgba(70,130,180);}
  /*.navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: red;  background-color: transparent; }*/
</style>

<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
    <img src="{% static 'images/logo1.png' %}" style="height:4.5em; border-radius:50%; padding:0.08em"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home'%}" id="item">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products'%}" id="item">Products</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
      </ul>
    </div>
    
    <span id="hello-msg">Hello, {{request.user}}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
  </nav>
<!--


  <script type="text/javascript">
  $('.navbar-nav .nav-item a').click(function(){
    $('.nav-item').removeClass('active')
    $(this).closest('.nav-item').addClass('active')
  })
  
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->